extends layout
block append body
    .container.theme-showcase(role='main')
        .jumbotron
            h1 #{title}
            table.table-striped
                thead
                    tr
                        th Commité régional de Lorraine d'aéromodélisme

                tbody
                    tr
                        td jpperret1@gmail.com
                        td Port : 0760681055

                thead
                    tr
                        th Comité régional de Lorraine d'Aéronautique, vol à moteur

                tbody
                    tr
                        td www.avion-lorraine.fr
                        td cra15@avion-lorraine.fr
                        td Tél : 0387601480  Port : 0662081480

                thead
                    tr
                        th Ligue de Lorraine d'Aérostation

                tbody
                    tr
                        td www.avion-lorraine.fr
                        td cra15@avion-lorraine.fr
                        td Tél : 0387601480  Port : 0662081480


