extends layout
block append body
    .container.theme-showcase(role='main')
        .jumbotron

            h1 Demande de prestation #{title}
            h4 Vous pouvez saisir ici vos demande de prestations d'affranchissment ou de reproduction
            br
            form.form-horizontal(action="/demande", method="post")
                //Information de base de la demande//
                h7 Nom de ligue :
                .form
                    input(type = "text" name = "txtLigue" )
                br
                h7 Date :
                .form
                    input(type ='date' name = "txtDate" )
                br
                //Information concernant exclusivement les reproductions//
                h6 Reproduction :
                h7 Nombre de copie :
                .form
                    input(type = 'text' name ='nbCopie')
                br
                //
                h7
                .form-group
                    label Type de copie :
                    .radio
                        label
                            input(type="radio", name="rad1", value="NB", checked "true")
                            | Noir et blanc
                    .radio
                        label
                            input(type="radio", name="rad1", value="C")
                            | Couleurs

                br
                //Information concernant exclusivement les affranchissments//
                h6 Affranchissement :

                h7 Nombre de courriers à affranchir
                .form
                    input(type = 'text' name ='nbCourier')

                br
                h7 Poids total du courrier :
                    .form
                        input(type = 'text' name ='poidsCourrier')

                br
                br
                br

                //Bouton permettant l'enregistrement des information sur la BDD//
                input(type = 'submit' value = 'Envoyer la demande')





















