extends layout

block append body
    .container.theme-showcase(role='main')
        // Main jumbotron for a primary marketing message or call to action
        .jumbotron
            h1= message
            h2= error.status
            pre #{error.stack}
