extends layout
block append body
    .container.theme-showcase(role='main')
        .jumbotron
            h1 #{titre}
            table.table
                thead.thead-default
                    tr
                        th LORFM - Sport
                        th
                tbody.tbody-default
                    tr
                        td Les titres
                        td Les liens

                    each entrie in donnees.feed.entries
                        tr

                            td
                                p=entrie.title
                            td
                                a(target="_blank" href=entrie.link)=entrie.link


