extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h1  A propos de la maison des ligues
            p
                | La Maison des Ligues de Lorraine (M2L) a pour mission de fournir des espaces et des services aux différentes ligues sportives régionales ainsi qu'à d’autres structures hébergées.
                | La M2L est une structure financée par le Conseil Régional de Lorraine dont l'administration est déléguée au Comité Régional Olympique et Sportif de Lorraine (CROSL).
       
        .page-header
            if (!user)
                h3 Bienvenue !!

            else
                h3 Bienvenue #{user.username}
            
        p.lead
            | Maison des ligues
