extends layout
block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h1  Informations générales de la Maison des ligues de Lorraine
            p

            h3
                a(href='infos/desc') - Description du site
            h3
                a(href='infos/services') - Service proposés aux ligues par la M2L
            h3
                a(href='infos/pers') - Le personnel


