extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h1  Prestation validée
            p La prestation n°#{numero} est validée.

            .page-header
                 p (Retour à la page des demande prestations)