extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h1  Prestation refusée
            p La prestation n°#{numero} est refusée.

            .page-header
                p (Retour à la page des demande prestations)