extends ../layout
block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h2 Les services fournis par la M2L :
            br
            p
            h4 ACCÈS INTERNET:
            p
            h5 Les ligues disposent d'un accès Internet mutualisé que la M2L loue à un prestataire extérieur
            br
            p
            h4 ACCÈS WIFI :
            p
            h5 Dans tous les espaces, un réseau Wifi "visiteurs" est disponible, avec une clé WPA renouvelée régulièrement et communiquée aux ligues. Ce réseau ne permet que l'accès à Internet.
            br
            p
            h4 TÉLÉPHONIE :
            p
            h5 Dans les bâtiments anciens A et B, les salles et bureaux sont équipés de prises de téléphone analogiques. La M2L y fournit les combinés téléphoniques. Dans les bâtiments neufs C et D, l'équipement téléphonique est de type VoIP. La M2L loue des postes téléphoniques IP aux ligues.
            br
            p
            h4 AFFRANCHISSEMENT :
            p
            h5 Une machine à affranchir permet un affranchissement rapide et en nombre. Cette prestation est facturée aux ligues au coût de l'affranchissement. Chaque mois, on relie la machine à affranchir à une imprimante pour obtenir une liste de codes de gestion correspondant aux ligues associés à une quantité et un type d'affranchissement. La prise en compte de ces informations permet au CROSL d'éditer des factures.
            br
            p
            h4 IMPRESSIONS
            p
            h5 Les ligues disposent de la possibilité d'imprimer en volume et en qualité d'imprimerie sur des ressources d'impression numériques connectées situées dans le local reprographie du rez-de-chaussée dont l'usage fait l'objet d'une facturation à prix coûtant.
            h5 Un système de comptage situé sur le serveur d'impression permet au CROSL d’effectuer une facturation mensuelle auprès des ligues :
            h5 - une photocopieuse noir et blanc à 70 pages/minute avec différents dispositifs de finition ;
            h5 - une imprimante Laser couleur A4/A3 à encre solide à 25 pages/minute ;
            h5 - un traceur A2 (1 page / minute) utilisé pour les affiches et banderoles.